<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.klsf111.linghangbiao.activitys">

    <meta-data
        android:name="JPUSH_APPKEY"
        android:value="${JPUSH_APPKEY}"/>

    <uses-permission android:name="com.klsf111.linghangbiao.activitys.permission.JPUSH_MESSAGE" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMER;A" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <permission
        android:name="android.permission.FLASHLIGHT"
        android:permissionGroup="android.permission-group.HARDWARE_CONTROLS"
        android:protectionLevel="normal" />

    <application
        android:name="com.klsf111.linghangbiao.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
       <!-- <activity
            android:name="com.klsf111.linghangbiao.activitys.activitys.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />-->
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name="com.klsf111.linghangbiao.activitys.GameActivity"/>
        <activity
            android:name="com.klsf111.linghangbiao.activitys.activitys.WebBrowserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />


        <activity
            android:name="com.klsf111.linghangbiao.activitys.activitys.ScanResultActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.MyCaptureActivity" />

        <!-- &lt;!&ndash; Required SDK核心功能&ndash;&gt; -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.klsf111.linghangbiao.activitys" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.klsf111.linghangbiao.activitys.activitys.NativeActivity"
            android:screenOrientation="portrait" />
        <!-- 添加腾讯两个Activity -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1105715507" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.UserInfoActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.RegisterActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.EnterActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.LookHistoryActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.LotteryTaskActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.LotteryHistoryActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.MineMessagesActivity" />

        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.FansActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.MineCareActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.RemindActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.HotNewActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.WebUpDataActivity" />
        <activity android:name="com.klsf111.linghangbiao.activitys.activitys.WebActivity" />
        <activity android:name=".mutil.MUp" />
        <activity android:name=".mutil.MWeb" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>
        <receiver android:name="com.simplepeng.updaterlibrary.DownloadReceiver">
            <intent-filter >
                <action android:name="android.intent.action.DOWNLOAD_COMPLETE"/>
            </intent-filter>
        </receiver>
        <receiver android:name="com.klsf111.linghangbiao.activitys.utils.BootReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>
    </application>

</manifest>